* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #F2F2F2
}

.navbar ul {
    padding-left: 0;
}

.navbar li {
    list-style-type: none;
}

.navbar {
    width: 100%;
    min-width: 1000px;
    margin: 0 auto;
    /* border-bottom: solid 1px gray; */
    background: #3e7aab;
}

.navbar-inner {
    width: 95%;
    height: 40px;
    margin: 0 auto;
    padding-top: 11px;
    position: relative;
}

.navbar-header {
    display: inline-block;
    width: 135px;
    position: absolute;
    left: 0;
}

.navbar-brand {
    display: block;
    width: 135px;
    height: 18px;
    background: url("../images/logo_white.png") no-repeat;
    background-size: 135px auto;
    cursor: pointer;
}

.class-navbar-middle {
    display: block;
    width: 50%;
    min-width: 500px;
    position: absolute;
    left: 250px;
    margin: -3px 0 0
}

.class-navbar-items {
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
    color: #D9E4EC;
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
    text-shadow: #2e5e83 1px 1px 0px;
    transition: 0.3s;
}

.class-navbar-items:hover {
    color: white;
}

.class-navbar-right {
    display: block;
    width: auto;
    height: 26px;
    position: absolute;
    right: 0;
    margin: -4px 0 0;
}

.class-navbar-right>li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}

.navbar-profile-picture {
    height: 26px;
    width: 26px;
    border: solid 1px lightblue;
    box-shadow: 0 0 1px #ffffff;
}

.class-navbar-username {
    margin-top: -6px;
}

.class-navbar-setting-wraper {
    height: 26px;
    width: 26px;
    margin-top: -4px;
    padding: 7px 6px;
    opacity: 0.7;
    transition: 0.3s;
}

.class-navbar-setting {
    height: 14px;
    width: 14px;
    background-image: url("../images/glyphicons-halflings-white.png");
    background-position: -432px 0;
    margin-right: 0 !important;
}

.class-navbar-setting-wraper:hover {
    opacity: 1;
}

.dropdown-menu {
    display: none;
}

.downarrow {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: 3px;
    vertical-align: 2px;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.btn {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    line-height: 1.08;
    padding: 6px 12px;
    user-select: none;
    white-space: nowrap;
}

.btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn:focus {
    outline-offset: -2px;
    outline: none;
    text-decoration: none;
}

.default-btn {
    color: #428bca;
    border: 1px solid #428bca;
    background: white;
    transition: 0.3s;
}

.default-btn:hover {
    color: white;
    background: #428bca;
    border-color: #428bca;
}

.main-area{
    width:70%;
    padding: 0;
    position: absolute;
    top:40px;
    left: 15%;
    bottom: 0;
    align-items: top;  
    justify-content: center; 
    background-color: #F2F2F2;
}

#brief-info{
    width: 100%;
    height: 120px;
    margin: 10px;
    background-color: #F2F2F2;
}

#head-img{
    position: absolute;
    z-index: 999;
    left: 0;
    width: 120px;
    height: 120px;
}

#brief-info-content{
    position: absolute;
    left: 150px;
}

#main-bar{
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
    top: 80px;
    background-color: #FFF;
}
#main-bar>#main-bar-1{
    position: absolute;
    left: 150px;
    top: 30px;
}
#main-bar>#main-bar-2{
    position: absolute;
    left: 300px;
    top: 30px;
}

#brief-info-content>h1, #brief-info-content>h3{
    margin: 0;
}

#detailed-info{
    position: absolute;
    top: 150px;
    bottom: 0;
    width: 15em;
    padding: 10px 10px 10px 0;
    background-color: #F2F2F2;
}
#detailed-info-1, #detailed-info-2{
    width: 100%;
    margin-bottom: 20px; 
    padding: 10px;
    background-color: #FFF;
}

.detailed-info-item>p, .detailed-info-item>b{
    font-size: 0.5em;
    color: #696969;
    display: inline-block;
}

.detailed-info-display-item>p, .detailed-info-display-item>b{
    font-size: 1em;
    margin-left:20px;
    color: #696969;
    display: inline-block;
}

.detailed-info-edit-item{
    display: block;
    margin: 10px auto;
}

.detailed-info-edit-item>b{
    display: inline-block;
    font-size: 1em;
    height: 30px;
    margin: 10px 0 10px 20px;
    color: #696969;
}

.detailed-info-edit-item input[type="text"]{
    display: inline-block;
    margin: 10px;
    height: 30px;
    width: 20em;
}

#profile-display-area>h3, #profile-edit-area>h3, #classes-edit-area>h3, #class-choose-area>h3{
    display: block;
    text-align: center;
    margin: 10px auto;
}


#btn-profile-edit, #btn-classes-edit, #btn-class-add, #btn-class-edit{
    display: block;
    margin: 10px auto;
    text-decoration:none;  
    background:#428bca;  
    color:#f2f2f2;  
    max-width: 15em;
      
    padding: 10px 30px 10px 30px;  
    text-align: center;
    font-size:8px;  
    font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;  
    font-weight:bold;  
    border-radius:3px;  
      
    -webkit-transition:all linear 0.30s;  
    -moz-transition:all linear 0.30s;  
    transition:all linear 0.30s;  
}
#btn-profile-edit:hover, #btn-classes-edit:hover, #btn-class-add:hover{ background:#385f9e; }  

#detailed-info-2>b{
    font-size: 0.8em;
    color: #696969;
}

#detailed-info-2>ul{
    padding-left: 10px; 
    list-style: none;
    font-size: 0.5em;
    color: #696969;
}

#detailed-info-2>ul>li{
    margin: 10px 0;
}

#content-area{
    position: absolute;
    min-width: 40em;
    top: 150px;
    bottom: 0;
    left: 15em;
    right: 0;
    padding: 10px 0 10px 10px;
    background-color: #F2F2F2;
}

#class-choose-area{
    display: none;
    width: 100%;
    height: 300px;
    padding: 10px 10%;
    background-color: #FFF;
}
#profile-display-area{
    display: none; 
    width: 100%;
    height: 400px;
    padding: 10px 10%;
    background-color: #FFF;
}
#profile-edit-area{
    display: none;
    width: 100%;
    height: 500px;
    padding: 10px 10%;
    background-color: #FFF;
}
#classes-edit-area{
    display: none;
    width: 100%;
    height: 600px;
    padding: 10px 10%;
    background-color: #FFF;
}

#class-display-item, #class-choose-item{
    display: block;
    margin: 20px auto;
    height: 30px;
    width: 30em;
}
#class-display-item>b, #class-choose-item>b{
    display: inline-block;
    margin: 0;
    height: 30px;
    width: 130px;
    color: #696969;
}
#class-display-item>select, #class-choose-item>input[type="text"]{
    display: inline-block;
    width: 70%;
    height: 30px;
    color: #3e7aab;
    font-weight: bold;
}
#class-display-item>select>option{
    font-size: 1em;
    color: #696969;
}
#btn-class-add{
    display: flex;
    margin: 10px auto;
    text-align: center;
}

.classes-edit-item{
    width: 100%;
    height: 60px;
    margin: 10px;
}

.classes-edit-item>b{
    margin-right: 5%;
    display: inline-block;
}
.classes-edit-item>p{
    display: inline-block;
}
#classes-edit-area-buttons{
    width: 100%;
    text-align: center;
}

#class-cancel, #class-detail{
    display: inline-block;
    margin: 0 20px;
    text-decoration:none;  
    background:#428bca;  
    color:#f2f2f2;  
    max-width: 10em;
      
    padding: 10px 20px;  
    text-align: center;
    font-size:8px;  
    font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;  
    font-weight:bold;  
    border-radius:3px;  
      
    -webkit-transition:all linear 0.30s;  
    -moz-transition:all linear 0.30s;  
    transition:all linear 0.30s;
}
